<a href="https://colab.research.google.com/github/RaffayHusayn/Collaborative-Filtering/blob/master/CollaborativeFiltering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
root_path = '/content/gdrive/My Drive/Colab Notebooks/The Movie Dataset Extracted'
dataset = pd.read_csv(root_path+"/ratings_small.csv", sep = ',')

In [ ]:
dataset.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [ ]:
len(dataset.userId.unique())

671

In [ ]:
len(dataset.movieId.unique())

9066

In [ ]:
from sklearn.model_selection import train_test_split
train , test = train_test_split(dataset,test_size= 0.2)

In [ ]:
train.head(32)

       userId  movieId  rating   timestamp
60119     434      595     5.0   886374784
26573     195     2617     3.0   975418661
65108     463     2735     3.0  1051712464
90794     603     1017     4.0   868355519
68342     475     5952     5.0  1446908199
43148     308      407     1.0   854376743
21571     150     1617     3.0  1114306474
88186     587      265     3.5  1111102715
23296     165     1259     3.5  1111479987
43821     311     1936     3.5  1077051541
77763     537     1302     3.0   879502735
4552       23     5902     5.0  1148671465
81756     558     3055     3.0   965861707
38100     275    67255     0.5  1345335307
35904     260     1210     5.0  1207887704
452         6      158     2.0  1108134263
90142     598     2702     2.0  1008570798
92041     608     2762     4.0   958824170
2462       15    96610     1.5  1374637996
56793     408     1429     5.0   933037039
39585     288      355     3.0   845862723
54234     388     3911     4.0   993142409
84099     564     2533     4.0   974714807
21204     149       47     3.5  1436922267
79435     547     4188     4.0  1021572916
53757     388      441     4.0   999578153
23358     165     2054     3.0  1111479052
32324     233       14     3.0   854481720
97960     654     5444     4.5  1145390898
12782      81     5105     3.0  1307171929
89158     594     2759     4.0   938947494
47784     352    32456     3.0  1420521962

In [ ]:
test.head(15)

       userId  movieId  rating   timestamp
87093     580     4963     1.5  1167156856
5700       30     3316     2.0   994439603
5053       30       14     4.0   945276564
5081       30      203     3.0   994458432
62330     452     4025     1.5  1151811810
61774     452     1480     3.0  1077114310
622         8     1674     4.0  1154389491
75858     527    55267     5.0  1281232639
86387     577     5502     4.0  1111551392
22725     159     1580     3.5  1183519595
91206     605     3102     3.0   980195704
48346     354      165     2.0   846062521
25442     187      344     3.0  1228072670
95536     627      858     5.0  1201378600
36716     263     2617     3.0  1117843755

In [ ]:
len(test), len(train)

(20001, 80003)

In [ ]:
len(dataset.userId.unique()),len(dataset.movieId.unique())

(671, 9066)

In [ ]:
dataset

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [ ]:
import tensorflow as tf
print (tf.__version__)

In [ ]:
max_movieId = dataset["movieId"].max()
print(max_movieId)
max_userId = dataset["userId"].max()

163949

In [ ]:
max_movieId = dataset["movieId"].max()
print(max_movieId)
max_userId = dataset["userId"].max()
print(max_userId)

163949
671

In [ ]:
import keras
from keras.optimizers import Adam
from keras.layers import Dense, Dropout
n_latent_factors_users = 10
n_latent_factors_movie =10
n_latent_factors_mf = 10
max_movieId = dataset["movieId"].max()
max_userId = dataset["userId"].max()
n_users, n_movies = len(dataset.userId.unique()), len(dataset.movieId.unique())#dont use this in embedding layer because the vocabulary size will be the number of unique
#movies and we wouldn't be able to test movies which have a bigger movieId than total no of unique movies in the dataset

#defining the shape of the input tensor
movie_input = keras.layers.Input(shape= [1], name ='Item')

movie_embedding_mlp = keras.layers.Embedding(max_movieId + 1, n_latent_factors_movie, name='Movie-Embeddding-MLP') (movie_input)
movie_vec_mlp = keras.layers.Flatten(name='FlattenMovies-MLP')(movie_embedding_mlp)
movie_vec_mlp = keras.layers.Dropout(0.5)(movie_vec_mlp)

movie_embedding_mf = keras.layers.Embedding(max_movieId + 1, n_latent_factors_mf, name='Movie-Embedding-MF')(movie_input)
movie_vec_mf = keras.layers.Flatten(name= 'FlattenMovie-MF')(movie_embedding_mf)
movie_vec_mf = keras.layers.Dropout(0.5)(movie_vec_mf)



user_input = keras.layers.Input( shape= [1] , name ='User')
user_vec_mlp = keras.layers.Flatten(name='FlattenUser-MLP')(keras.layers.Embedding(n_users +1, n_latent_factors_users, name='User_Embedding_MLP')(user_input))
user_vec_mlp = keras.layers.Dropout(0.5)(user_vec_mlp)

user_vec_mf = keras.layers.Flatten(name='FlattenUsers-MF')(keras.layers.Embedding(n_users +1, n_latent_factors_mf , name='User-Embedding-MF')(user_input))
user_vec_mf = keras.layers.Dropout(0.5)(user_vec_mf)

#merging the layers
concat = keras.layers.concatenate([movie_vec_mlp, user_vec_mlp],name='Concat')
concat_dropout = keras.layers.Dropout(0.2)(concat)
dense = keras.layers.Dense(200,name='FullyConnected')(concat_dropout)
dense_batch = keras.layers.BatchNormalization(name='Batch')(dense)
dropout_1 = keras.layers.Dropout(0.2,name='Dropout-1')(dense_batch)
dense_2 = keras.layers.Dense(100,name='FullyConnected-1')(dropout_1)
dense_batch_2 = keras.layers.BatchNormalization(name='Batch-2')(dense_2)


dropout_2 = keras.layers.Dropout(0.2,name='Dropout-2')(dense_batch_2)
dense_3 = keras.layers.Dense(50,name='FullyConnected-2')(dropout_2)
dense_4 = keras.layers.Dense(20,name='FullyConnected-3', activation='relu')(dense_3)

pred_mf = keras.layers.dot([movie_vec_mf, user_vec_mf], axes= 1 , name='Dot')


pred_mlp = keras.layers.Dense(1, activation='relu',name='Activation')(dense_4)

combine_mlp_mf = keras.layers.concatenate([pred_mf, pred_mlp], name='Concat-MF-MLP')
result_combine = keras.layers.Dense(100,name='Combine-MF-MLP')(combine_mlp_mf)
deep_combine = keras.layers.Dense(100,name='FullyConnected-4')(result_combine)


result = keras.layers.Dense(1,name='Prediction')(deep_combine)


model = keras.Model([user_input, movie_input], result)
opt = keras.optimizers.Adam(lr =0.01)
model.compile(optimizer='adam',loss= 'mean_squared_error')

In [ ]:
history = model.fit([train.userId, train.movieId], train.rating, epochs=20, verbose=1, validation_split=0.1)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3005: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

Train on 72002 samples, validate on 8001 samples
Epoch 1/20
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

72002/72002 [==============================] - 38s 534us/step - loss: 1.2040 - val_loss: 1.0118
Epoch 2/20
72002/72002 [==============================] - 28s 388us/step - loss: 0.9756 - val_loss: 0.9115
Epoch 3/20
72002/72002 [==============================] - 28s 387us/step - loss: 0.8989 - val_loss: 0.8415
Epoch 4/20
72002/72002 [==============================] - 28s 382us/step - loss: 0.8499 - val_loss: 0.8341
Epoch 5/20
72002/72002 [==============================] - 28s 388us/step - loss: 0.8147 - val_loss: 0.8132
Epoch 6/20
72002/72002 [==============================] - 27s 379us/step - loss: 0.7895 - val_loss: 0.8073
Epoch 7/20
72002/72002 [==============================] - 27s 381us/step - loss: 0.7589 - val_loss: 0.8224
Epoch 8/20
72002/72002 [==============================] - 27s 379us/step - loss: 0.7481 - val_loss: 0.8047
Epoch 9/20
72002/72002 [==============================] - 28s 389us/step - loss: 0.7325 - val_loss: 0.8140
Epoch 10/20
72002/72002 [==============================] - 28s 390us/step - loss: 0.7223 - val_loss: 0.8008
Epoch 11/20
72002/72002 [==============================] - 28s 387us/step - loss: 0.7122 - val_loss: 0.7945
Epoch 12/20
72002/72002 [==============================] - 27s 379us/step - loss: 0.7083 - val_loss: 0.7955
Epoch 13/20
72002/72002 [==============================] - 28s 388us/step - loss: 0.6903 - val_loss: 0.7932
Epoch 14/20
72002/72002 [==============================] - 28s 383us/step - loss: 0.6895 - val_loss: 0.7880
Epoch 15/20
72002/72002 [==============================] - 28s 387us/step - loss: 0.6832 - val_loss: 0.8157
Epoch 16/20
72002/72002 [==============================] - 28s 386us/step - loss: 0.6799 - val_loss: 0.7924
Epoch 17/20
72002/72002 [==============================] - 27s 377us/step - loss: 0.6734 - val_loss: 0.7956
Epoch 18/20
72002/72002 [==============================] - 27s 379us/step - loss: 0.6661 - val_loss: 0.7929
Epoch 19/20
72002/72002 [==============================] - 27s 378us/step - loss: 0.6656 - val_loss: 0.7872
Epoch 20/20
72002/72002 [==============================] - 27s 381us/step - loss: 0.6614 - val_loss: 0.7887

In [ ]:
from sklearn.metrics import mean_absolute_error
y_true = test.rating
y_hat_2 = np.round(model.predict([test.userId, test.movieId]),0)
print(mean_absolute_error(y_true, y_hat_2))

print(mean_absolute_error(y_true, model.predict([test.userId, test.movieId])))

0.6700914954252287
0.6771892690699098

In [ ]:
from sklearn.metrics import mean_squared_error
y_true = test.rating
y_hat_2 = np.round(model.predict([test.userId, test.movieId]),0)
#print(mean_squared_error(y_true, y_hat_2))

print(mean_squared_error(y_true, model.predict([test.userId, test.movieId])))

0.7842729922171395

In [ ]:
model.save('/content/gdrive/My Drive/Colab Notebooks/collab_trained_smaller.h5')

In [ ]:
prediction= model.predict([test.userId,test.movieId],batch_size =10, verbose=1)

20001/20001 [==============================] - 4s 222us/step

In [ ]:
from keras.models import load_model
new_model=load_model('/content/gdrive/My Drive/Colab Notebooks/collab_trained_smaller.h5')

In [ ]:
new_model.summary()

Model: "model_4"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
Item (InputLayer)               (None, 1)            0
__________________________________________________________________________________________________
User (InputLayer)               (None, 1)            0
__________________________________________________________________________________________________
Movie-Embeddding-MLP (Embedding (None, 1, 100)       16395000    Item[0][0]
__________________________________________________________________________________________________
User_Embedding_MLP (Embedding)  (None, 1, 100)       67200       User[0][0]
__________________________________________________________________________________________________
FlattenMovies-MLP (Flatten)     (None, 100)          0           Movie-Embeddding-MLP[0][0]
__________________________________________________________________________________________________
FlattenUser-MLP (Flatten)       (None, 100)          0           User_Embedding_MLP[0][0]
__________________________________________________________________________________________________
dropout_16 (Dropout)            (None, 100)          0           FlattenMovies-MLP[0][0]
__________________________________________________________________________________________________
dropout_18 (Dropout)            (None, 100)          0           FlattenUser-MLP[0][0]
__________________________________________________________________________________________________
Concat (Concatenate)            (None, 200)          0           dropout_16[0][0]
                                                                 dropout_18[0][0]
__________________________________________________________________________________________________
dropout_20 (Dropout)            (None, 200)          0           Concat[0][0]
__________________________________________________________________________________________________
FullyConnected (Dense)          (None, 200)          40200       dropout_20[0][0]
__________________________________________________________________________________________________
Batch (BatchNormalization)      (None, 200)          800         FullyConnected[0][0]
__________________________________________________________________________________________________
Dropout-1 (Dropout)             (None, 200)          0           Batch[0][0]
__________________________________________________________________________________________________
FullyConnected-1 (Dense)        (None, 100)          20100       Dropout-1[0][0]
__________________________________________________________________________________________________
Batch-2 (BatchNormalization)    (None, 100)          400         FullyConnected-1[0][0]
__________________________________________________________________________________________________
Movie-Embedding-MF (Embedding)  (None, 1, 100)       16395000    Item[0][0]
__________________________________________________________________________________________________
User-Embedding-MF (Embedding)   (None, 1, 100)       67200       User[0][0]
__________________________________________________________________________________________________
Dropout-2 (Dropout)             (None, 100)          0           Batch-2[0][0]
__________________________________________________________________________________________________
FlattenMovie-MF (Flatten)       (None, 100)          0           Movie-Embedding-MF[0][0]
__________________________________________________________________________________________________
FlattenUsers-MF (Flatten)       (None, 100)          0           User-Embedding-MF[0][0]
__________________________________________________________________________________________________
FullyConnected-2 (Dense)        (None, 50)           5050        Dropout-2[0][0]
__________________________________________________________________________________________________
dropout_17 (Dropout)            (None, 100)          0           FlattenMovie-MF[0][0]
__________________________________________________________________________________________________
dropout_19 (Dropout)            (None, 100)          0           FlattenUsers-MF[0][0]
__________________________________________________________________________________________________
FullyConnected-3 (Dense)        (None, 20)           1020        FullyConnected-2[0][0]
__________________________________________________________________________________________________
Dot (Dot)                       (None, 1)            0           dropout_17[0][0]
                                                                 dropout_19[0][0]
__________________________________________________________________________________________________
Activation (Dense)              (None, 1)            21          FullyConnected-3[0][0]
__________________________________________________________________________________________________
Concat-MF-MLP (Concatenate)     (None, 2)            0           Dot[0][0]
                                                                 Activation[0][0]
__________________________________________________________________________________________________
Combine-MF-MLP (Dense)          (None, 100)          300         Concat-MF-MLP[0][0]
__________________________________________________________________________________________________
FullyConnected-4 (Dense)        (None, 100)          10100       Combine-MF-MLP[0][0]
__________________________________________________________________________________________________
Prediction (Dense)              (None, 1)            101         FullyConnected-4[0][0]
==================================================================================================
Total params: 33,002,492
Trainable params: 33,001,892
Non-trainable params: 600
__________________________________________________________________________________________________